

body {
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(43, 24, 78);
    
   
   
   
}




*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



/*everything +body*/


/*aici este navbar-ul declarat in baseclass*/

.base-nav {
    overflow: hidden;
    
    height: 80px;
    width: 100%;
  
    z-index: 1;
  }
  
  
  .base-nav ul {
      float: right;
      margin-right: 20px;
  }
  
 .base-nav ul li {
      display: inline-block;
      line-height: 80px;
      margin: 0 5px;
  }
  
 .base-nav .icon {
      width: 50px;
      margin-top: 15px;
      transition: transform 0.3s;
    
  }

  .base-nav .icon:hover {
    transform: translateY(-5px);
  }


 .base-nav label.logo{
    color: aliceblue;
    font-size: 50px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(66, 65, 65);
}

  /*navbar declarat in base class*/

  /*login box*/


/*login box*/

/*footer stuff*/

.footer {
  top: 1000px; /*fix the footer*/
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 100%;
    background-color: #7d7d7d;
    color: white;
    text-align: center;
    padding: 5px;
  }
  
  /* Style the left and right sentences */
  .left-sentence {
    float: left; /* Float to the left to position on the left corner */
  }
  
  .right-sentence {
    float: right; /* Float to the right to position on the right corner */
  }

  /*footer stuff*/




